:root {
  /* default theme color */

  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
  --shodo-background-dark: #0b0b0b;
  --color-primary: #ee1b48;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Bluu Next", Inter, sans-serif;
}

/* ------------------------------------------------------
  Fonts */

@font-face {
  font-family: "Bluu Next";
  font-weight: bold;
  src: url("fonts/bluu-next/BluuNext-Bold.woff2") format("woff");
}

@font-face {
  font-family: "Bluu Next";
  font-weight: bold;
  font-style: italic;
  src: url("fonts/bluu-next/BluuNext-Bolditalic.woff2") format("woff");
}

/* ------------------------------------------------------
  Layout */

html.dark,
html.dark .slidev-slide-container,
html.dark .slidev-layout {
  background: var(--shodo-background-dark);
}

html.light .slidev-layout.cover::after,
html.light .slidev-layout.intro::after,
html.light .slidev-layout.section::after,
html.light .slidev-layout.quote::after,
html.light .slidev-layout.end::after {
  background: url("/brush-stroke-light-mode.svg");
}

html.dark .slidev-layout.cover::after,
html.dark .slidev-layout.intro::after,
html.dark .slidev-layout.section::after,
html.dark .slidev-layout.quote::after,
html.dark .slidev-layout.end::after {
  background: url("/brush-stroke-dark-mode.svg");
}

.slidev-layout.cover::after,
.slidev-layout.intro::after,
.slidev-layout.section::after,
.slidev-layout.quote::after,
.slidev-layout.end::after {
  background-size: 100%;
  bottom: -25px;
  content: "";
  height: 150px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* ------------------------------------------------------
  Layouts common */

.slidev-layout {
  > article {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }
}

.slidev-layout.cover,
.slidev-layout.intro,
.slidev-layout.end {
  display: grid;
  height: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .subsection {
    margin: auto;
    max-width: 75%;
  }

  .subsection {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 3.75rem; /* 60px */
    line-height: 4.5rem;
    text-align: center;
  }

  h1 + p {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  p + h2,
  ul + h2,
  table + h2 {
    margin-top: 10px;
  }
}

/* ------------------------------------------------------
    Texts */

h1,
h2,
h3,
h4,
h5,
h6,
.substitle {
  font-family: var(--font-secondary);
}

.subtitle {
  color: var(--color-primary);
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

ul li {
  font-weight: 300;
  list-style-type: circle;

  &::marker {
    color: var(--color-primary);
  }
}

/* ------------------------------------------------------
  Assets */

.arrow-circle-red {
  height: 48px;
  position: relative;
  width: 48px;

  &::before {
    content: url("/arrow.svg");
    height: 24px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 24px;
    z-index: 1;
  }

  &::after {
    background-color: var(--color-primary);
    border-radius: 1000px;
    box-sizing: border-box;
    content: "";
    height: 48px;
    left: 0;
    position: absolute;
    width: 48px;
    z-index: 0;
  }
}
